:root {
  --heading-h1-bold-desktop-font-family: "Inter-Bold", Helvetica;
  --heading-h1-bold-desktop-font-weight: 700;
  --heading-h1-bold-desktop-font-size: 60px;
  --heading-h1-bold-desktop-letter-spacing: -1.2px;
  --heading-h1-bold-desktop-line-height: 72px;
  --heading-h1-bold-desktop-font-style: normal;
  --heading-h1-bold-tablet-font-family: "Inter-Bold", Helvetica;
  --heading-h1-bold-tablet-font-weight: 700;
  --heading-h1-bold-tablet-font-size: 48px;
  --heading-h1-bold-tablet-letter-spacing: -0.96px;
  --heading-h1-bold-tablet-line-height: 48px;
  --heading-h1-bold-tablet-font-style: normal;
  --heading-h1-semi-bold-mobile-font-family: "Inter-SemiBold", Helvetica;
  --heading-h1-semi-bold-mobile-font-weight: 600;
  --heading-h1-semi-bold-mobile-font-size: 36px;
  --heading-h1-semi-bold-mobile-letter-spacing: 0px;
  --heading-h1-semi-bold-mobile-line-height: 40px;
  --heading-h1-semi-bold-mobile-font-style: normal;
  --heading-h2-semi-bold-desktop-font-family: "Inter-SemiBold", Helvetica;
  --heading-h2-semi-bold-desktop-font-weight: 600;
  --heading-h2-semi-bold-desktop-font-size: 36px;
  --heading-h2-semi-bold-desktop-letter-spacing: -0.72px;
  --heading-h2-semi-bold-desktop-line-height: 40px;
  --heading-h2-semi-bold-desktop-font-style: normal;
  --heading-h2-semi-bold-tablet-mobile-font-family: "Inter-SemiBold", Helvetica;
  --heading-h2-semi-bold-tablet-mobile-font-weight: 600;
  --heading-h2-semi-bold-tablet-mobile-font-size: 18px;
  --heading-h2-semi-bold-tablet-mobile-letter-spacing: -0.36px;
  --heading-h2-semi-bold-tablet-mobile-line-height: 28px;
  --heading-h2-semi-bold-tablet-mobile-font-style: normal;
  --heading-h3-semi-bold-desktop-font-family: "Inter-SemiBold", Helvetica;
  --heading-h3-semi-bold-desktop-font-weight: 600;
  --heading-h3-semi-bold-desktop-font-size: 30px;
  --heading-h3-semi-bold-desktop-letter-spacing: -0.6px;
  --heading-h3-semi-bold-desktop-line-height: 36px;
  --heading-h3-semi-bold-desktop-font-style: normal;
  --heading-h3-semi-bold-tablet-mobile-font-family: "Inter-SemiBold", Helvetica;
  --heading-h3-semi-bold-tablet-mobile-font-weight: 600;
  --heading-h3-semi-bold-tablet-mobile-font-size: 24px;
  --heading-h3-semi-bold-tablet-mobile-letter-spacing: -0.48px;
  --heading-h3-semi-bold-tablet-mobile-line-height: 32px;
  --heading-h3-semi-bold-tablet-mobile-font-style: normal;
  --heading-h3-bold-desktop-font-family: "Inter-Bold", Helvetica;
  --heading-h3-bold-desktop-font-weight: 700;
  --heading-h3-bold-desktop-font-size: 30px;
  --heading-h3-bold-desktop-letter-spacing: -0.6px;
  --heading-h3-bold-desktop-line-height: 36px;
  --heading-h3-bold-desktop-font-style: normal;
  --heading-h3-bold-tablet-mobile-font-family: "Inter-Bold", Helvetica;
  --heading-h3-bold-tablet-mobile-font-weight: 700;
  --heading-h3-bold-tablet-mobile-font-size: 24px;
  --heading-h3-bold-tablet-mobile-letter-spacing: -0.48px;
  --heading-h3-bold-tablet-mobile-line-height: 32px;
  --heading-h3-bold-tablet-mobile-font-style: normal;
  --subtitle-normal-desktop-font-family: "Inter-Regular", Helvetica;
  --subtitle-normal-desktop-font-weight: 400;
  --subtitle-normal-desktop-font-size: 20px;
  --subtitle-normal-desktop-letter-spacing: 0px;
  --subtitle-normal-desktop-line-height: 28px;
  --subtitle-normal-desktop-font-style: normal;
  --subtitle-semi-bold-desktop-font-family: "Inter-SemiBold", Helvetica;
  --subtitle-semi-bold-desktop-font-weight: 600;
  --subtitle-semi-bold-desktop-font-size: 20px;
  --subtitle-semi-bold-desktop-letter-spacing: 0px;
  --subtitle-semi-bold-desktop-line-height: 28px;
  --subtitle-semi-bold-desktop-font-style: normal;
  --subtitle-normal-tablet-mobile-font-family: "Inter-Regular", Helvetica;
  --subtitle-normal-tablet-mobile-font-weight: 400;
  --subtitle-normal-tablet-mobile-font-size: 18px;
  --subtitle-normal-tablet-mobile-letter-spacing: 0px;
  --subtitle-normal-tablet-mobile-line-height: 28px;
  --subtitle-normal-tablet-mobile-font-style: normal;
  --subtitle-semi-bold-tablet-mobile-font-family: "Inter-SemiBold", Helvetica;
  --subtitle-semi-bold-tablet-mobile-font-weight: 600;
  --subtitle-semi-bold-tablet-mobile-font-size: 18px;
  --subtitle-semi-bold-tablet-mobile-letter-spacing: 0px;
  --subtitle-semi-bold-tablet-mobile-line-height: 28px;
  --subtitle-semi-bold-tablet-mobile-font-style: normal;
  --body1-normal-dektop-font-family: "Inter-Regular", Helvetica;
  --body1-normal-dektop-font-weight: 400;
  --body1-normal-dektop-font-size: 18px;
  --body1-normal-dektop-letter-spacing: 0px;
  --body1-normal-dektop-line-height: 28px;
  --body1-normal-dektop-font-style: normal;
  --body1-normal-tablet-mobile-font-family: "Inter-Regular", Helvetica;
  --body1-normal-tablet-mobile-font-weight: 400;
  --body1-normal-tablet-mobile-font-size: 16px;
  --body1-normal-tablet-mobile-letter-spacing: 0px;
  --body1-normal-tablet-mobile-line-height: 24px;
  --body1-normal-tablet-mobile-font-style: normal;
  --body2-normal-all-font-family: "Inter-Regular", Helvetica;
  --body2-normal-all-font-weight: 400;
  --body2-normal-all-font-size: 16px;
  --body2-normal-all-letter-spacing: 0px;
  --body2-normal-all-line-height: 24px;
  --body2-normal-all-font-style: normal;
  --body2-semi-bold-all-font-family: "Inter-SemiBold", Helvetica;
  --body2-semi-bold-all-font-weight: 600;
  --body2-semi-bold-all-font-size: 16px;
  --body2-semi-bold-all-letter-spacing: 0px;
  --body2-semi-bold-all-line-height: 24px;
  --body2-semi-bold-all-font-style: normal;
  --body2-medium-all-font-family: "Inter-Medium", Helvetica;
  --body2-medium-all-font-weight: 500;
  --body2-medium-all-font-size: 16px;
  --body2-medium-all-letter-spacing: 0px;
  --body2-medium-all-line-height: 24px;
  --body2-medium-all-font-style: normal;
  --body2-normal-all-underline-font-family: "Inter-Regular", Helvetica;
  --body2-normal-all-underline-font-weight: 400;
  --body2-normal-all-underline-font-size: 16px;
  --body2-normal-all-underline-letter-spacing: 0px;
  --body2-normal-all-underline-line-height: 24px;
  --body2-normal-all-underline-font-style: normal;
  --body3-normal-all-font-family: "Inter-Regular", Helvetica;
  --body3-normal-all-font-weight: 400;
  --body3-normal-all-font-size: 14px;
  --body3-normal-all-letter-spacing: 0px;
  --body3-normal-all-line-height: 20px;
  --body3-normal-all-font-style: normal;
  --body3-medium-all-font-family: "Inter-Medium", Helvetica;
  --body3-medium-all-font-weight: 500;
  --body3-medium-all-font-size: 14px;
  --body3-medium-all-letter-spacing: 0px;
  --body3-medium-all-line-height: 20px;
  --body3-medium-all-font-style: normal;
  --drop-shadow-md: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
  --drop-shadow-lg: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
  --drop-shadow-2xl: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
  --primitives-gray-dark-950: rgba(255, 255, 255, 0);
  --primitives-gray-dark-900: rgba(249, 250, 251, 1);
  --primitives-gray-100: rgba(243, 244, 246, 1);
  --primitives-gray-dark-400: rgba(107, 114, 128, 1);
  --primitives-gray-200: rgba(229, 231, 235, 1);
  --primitives-gray-dark-300: rgba(75, 85, 99, 1);
  --primitives-gray-300: rgba(209, 213, 219, 1);
  --primitives-gray-dark-200: rgba(55, 65, 81, 1);
  --primitives-gray-dark-50: rgba(17, 24, 39, 1);
  --primitives-gray-dark-100: rgba(31, 41, 55, 1);
  --primitives-gray-default-50: rgba(255, 255, 255, 0.5);
  --primitives-gray-dark-default: rgba(3, 7, 18, 1);
  --primitives-emerald-500: rgba(16, 185, 129, 1);
  --primitives-gray-950: rgba(3, 7, 18, 1);
  --primitives-gray-900: rgba(17, 24, 39, 1);
  --primitives-gray-default: rgba(255, 255, 255, 1);
  --primitives-gray-800: rgba(31, 41, 55, 1);
  --primitives-gray-dark-default-50: rgba(3, 7, 18, 0.5);
  --primitives-gray-dark-600: rgba(209, 213, 219, 1);
  --primitives-color: rgba(255, 255, 255, 1);
  --primitives-gray-700: rgba(55, 65, 81, 1);
  --primitives-gray-400: rgba(156, 163, 175, 1);
  --primitives-gray-dark-500: rgba(156, 163, 175, 1);
  --primitives-gray-50: rgba(249, 250, 251, 1);
  --primitives-neutral-white: rgba(255, 255, 255, 1);
  --primitives-gray-dark-800: rgba(243, 244, 246, 1);
  --primitives-gray-500: rgba(107, 114, 128, 1);
  --primitives-gray-900-10: rgba(17, 24, 39, 0.1);
  --primitives-gray-dark-700: rgba(229, 231, 235, 1);
  --primitives-gray-600: rgba(75, 85, 99, 1);
  --primitives-gray-dark-900-10: rgba(249, 250, 251, 0.1);
}
